body{
		background-color: #364853;
	}

	
.form-group{
		width: 250px;
		margin: 10px 15px 10px 10px;			
	}
	
.btn-dark{
		margin-left: 10px;
		margin-bottom: 10px;		
	}
	
.input-icons i { 
          position: absolute; 
      } 
        
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 

  
.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
} 

.col-sm-2 {
	margin-top: 40px; 	
}
